.SiderBox {
  background-color: white;
  color: black;
  height: 100%;
  width: 10%;

}

.SiderBox .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  height: 64px;
}